<div class="jumbotron">
  <h2 id="title"><%= @entry.title %></h2>
  <h5>
    Post by: <%= gravatar_for @entry.user, size: 20 %>
    <%= link_to @entry.user.name, user_path(@entry.user) %>  
  </h5>
  <h6 class="timestamp">at: <%= @entry.created_at %></h6>
  <hr>
  <p><%= simple_format(@entry.content) %></p>
</div>
<h3 id="comment_count"><%= @entry.comments.count %> Comments</h3>
<% if logged_in? && (current_user?(@entry.user) || current_user.following?(@entry.user)) %>
  <%= render 'comment_form' %>
<% end %>
<div id="list_comments">
  <% if @comments.any? %>
    <%= render 'list_comment' %>
  <% else %>
    <p>Become the first person comment for this entry</p>
  <% end %>
</div>