<h1><%= @entry.title %></h1>
<h5>Post by: <%= @entry.user.name %></h5>
<h5><%= @entry.created_at %></h5>
<p><%= @entry.content %></p>
<h3>Comments</h3>
<% if logged_in? %>
  <%= form_for(@comment) do |f| %>
    <div class="form-group">
      <%= f.text_area :content, class: "form-control", placeholder: "Your comment....." %>
      <%= f.hidden_field :entry_id, value: @entry.id, class: "form-control" %>
    </div>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
<% end %>
<% if @comments.any? %>
  <% @comments.each do |cmt| %>
    <h5>Comment by: <%= cmt.user.name %>, at <%= cmt.created_at %></h5>
    <% if current_user?(cmt.user) %>
      <%= link_to "Delete", cmt, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
    <p><%= cmt.content %></p>
    <hr>
  <% end %>
  <%= will_paginate @comments %>
<% else %>
  <p>Become the first person comment for this entry</p>
<% end %>