<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= gravatar_for @user %>
      <%= @user.name %>
      <%= @user.entries.count %> entries
    </div>

    <div class="col-md-9">
      <% @entries.each do |e| %>
        <p><%= link_to e.title, entry_path(e) %></p>
      <% end %>
      <%= will_paginate @entries %>
    </div>
  </div>
</div>