<div id="list-entries">
  <% @entries.each do |e| %>
    <div class="entry-details">
      <%= gravatar_for e.user, size: 30 %>
      <%= link_to e.user.name, user_path(e.user) %>
      <p class="timestamp">
        Posted <%= time_ago_in_words(e.created_at) %> ago.
        <% if logged_in? && (current_user?(e.user) || current_user.admin?) %>
          <%= link_to content_tag(:span, '', class: "glyphicon glyphicon-trash"), e, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </p>
      <h3><%= link_to e.title, entry_path(e) %></h3>
    </div>
  <% end %>
  <%= will_paginate @entries %>
</div>