<div id="userinfo">
  <div id="username">
    <%= gravatar_for @user %>
    <span><%= link_to @user.name, @user %></span>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p><%= link_to "#{@user.entries.count} entries", @user %></p>
    </div>
    <div class="col-md-4">
      <p><%= link_to "#{@user.following.count} following", following_user_path(@user) %></p>
    </div>
    <div class="col-md-4">
      <p id="followers"><%= link_to "#{@user.followers.count} followers", followers_user_path(@user) %></p>
    </div>
  </div>
  <div id="follow_form"><%= render 'users/follow_form' if logged_in? %></div>
</div>